/*! Components */

/* ==========================================================================
   Typography
   ========================================================================== */

/* Headings
   =========================================== */
.alpha {
	/* font sizes */
}

.beta {
}

.gamma {
}

.delta {
}

.epsilon {
}

/* Body copy
   =========================================== */
p,
li,
td {
	font-size: 0.875em;
	color: yellow;
}

.test2 {
	color: blue;
}