/*! Components */

/* ==========================================================================
   Basic banner
   ========================================================================== */
.banner {
	width: 100%;
}

/* ==========================================================================
   Blog
   ========================================================================== */
.blog {

	&__img {
		width: 100%;
	}

	@include respond-min(50em) {
		display: inline-block;
		vertical-align: top;
		width: 65%;
		margin-right: 5%;
	}
}

.sidebar {
	@include respond-min(50em) {
		display: inline-block;
		vertical-align: top;
		width: 30%;
	}
}

/* ==========================================================================
   Art directed
   ========================================================================== */
.art-directed {
	width: 100%;
	max-width: 59.375em;
}

/* ==========================================================================
   General layout
   ========================================================================== */
.l-wrap {
	width: 95%;
	max-width: 75em;
	margin-left: auto;
	margin-right: auto;
}